# Notion
NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_NYUKO_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# forrent.jp credentials
SUUMO_LOGIN_ID=your_login_id
SUUMO_LOGIN_PASS=your_password

# Slack notification (optional)
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ
